{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block body %}


{{ form_start(form) }}

<div class="container w-20 xl-col-12 sm-col-3">

<h1>Modification du mot de passe</h1>
<br>

<a href="{{ path('account') }}">Retour a mon compte</a>
<hr>

    <div class="row">
            {{ form_row(form.email) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.oldPassword) }}
            {{ form_row(form.newPassword) }}
            {{ form_row(form.confirmNewPassword) }}
            {{ form_row(form.submit) }}

            {# {{ app.user }} #}
            {# {{ form_label(form.email) }} #}
            {# {{ form_row(form.email, {'label':false, 'attr': { 'placeholder':'Entrer email' } }) }} #}

    </div>
</div>

{{ form_end(form) }}


{% endblock %}
